.services h3 {
  text-align: center;
}
.content-title {
    margin-bottom: 0;
}

#pg-7-0{
    margin-bottom: 0 !important;
}
#pg-7-1{
    margin-bottom: 0 !important;
}
#pg-7-2{
    background-color: #FAFAFA;
    margin-bottom: 0 !important;

}
#pg-7-3{
    background-color: #FAFAFA;
}
#pg-7-4{
    margin-bottom: 0 !important;
}
@media screen and (min-width: $query__small) {
    .work-image {
      margin-top: 5em;
}
    .content-title {
        margin-bottom: 0;
        padding-top: 4em;
}
	}

#pg-7-6{
    background-color: #FAFAFA;
    margin-bottom: 0 !important;
}
#pg-7-7{
    background-color: #FAFAFA;
    margin-bottom: 0 !important;
}